<!DOCTYPE html>
<html lang="EN" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Death Cases</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta th:replace="fragments/css"></meta>
</head>

<body>
	<div th:replace="fragments/navbar"></div>

	<main role="main" class="container">
		<div class="jumbotron">
			<h1 th:text="${stats.totalReportedCases}"></h1>
			<p class="lead">Total death cases reported as of today</p>
			<hr class="my-4" />
			<p>
				<span>New death cases reported since previous day </span> <strong><span
					th:text="${stats.totalNewCases}"></span></strong>
			</p>
		</div>

		<div th:replace="fragments/table/covid-cases"></div>
	</main>

	<div th:replace="fragments/footer"></div>
</body>

</html>
